{{#extends 'base'}}
{{#block "content"}}

{{#each fruits}}
<div style="border: 1px solid black">
<p>{{this}}</p>
</div>
{{/each}}

{{#ifEquals favorite 'apples'}}
<p> Doctors are not a fan</p>
{{else}}
<p> You will always fall sick</p>
{{/ifEquals}}

{{/block}}
{{/extends}}