{{#extends 'base'}}

{{#block "content"}}

<form method= "POST">
    <div>
        <label class= "form-label">Food Name</label>
        <input type = "text" class = "form-control" name = "foodName"/>
    </div>
    <div>
        <label class="form-label">Calories</label>
        <input type="text" class="form-control" name="calories"/>
    </div>
    <input type="submit" value="Add Food" class="btn btn-primary mt-3"/>
</form>

{{/block}}

{{/extends}}